*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.largeur{
    height: 62px;
    width: 100%;
    background: #363636;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.utilisateur{
    display: flex;
}
.search{
    display: flex;
}
.search input{
    height: 20px;
    width: 300px;
    border: 2px solid black ;
    border-radius: 30px;
}
.search i{
    position: absolute;
    margin-left: 270px;
}
.longeur{
    height: 100vh;
    width: 13%;
    background: #363636;
    
}

.first-img img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
  
}
.titre{
    text-align: center;
}
span{
    color: green;
}
.trait{
    height: 1px;
    width: 295px;
    border: 2px solid black;
}
.parent-img{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.icone img{
    height: 50px;
    width: 50px;
}
.texte p{
    color: white;
    font-size: 20px;
    
}
.icone3 img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.carre1{
    height: 150px;
    width: 250px;
    border: 1px solid red;
}
.enlong{
    display: flex;
}
.car{
    display: flex;
}